* {
    box-sizing: border-box;
}

body, h1
{
    margin: 0;
    font-family: poppins, sans-serif;
}

body {
    background-color: rgb(41, 41, 41);
}

.menu-div {
    background-color: rgb(253, 93, 0);
    color: white;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
}

h1 {

    letter-spacing: 5px;
    font-size: xx-large;
    font-weight: 500;
    position: absolute;
    text-align: center;
    display: block;
    height: 50px;
    width: 100%;
    top: 75px;   
}

h3 {
    letter-spacing: 5px;
    font-weight: 500;
}

#col-lg-d1 > h3, #col-lg-d2 > h3, #col-lg-d3 > h3 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 36, 36);
    padding: 10px;
}

.row {
    position: absolute;
    width: 100%;
}

p {
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: justify;
}

#col-lg-d1, #col-lg-d2, #col-lg-d3 {
    padding: 50px;
}

@media (min-width: 992px)
{
    #col-lg-d1, #col-lg-d2, #col-lg-d3 
    {
        width: 33.33%;
        height: 500px;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    #col-lg-d1, #col-lg-d2, #col-lg-d3  {
        float: left;
        width: 50%
    }
}

@media (max-width: 767px)
{
    #col-lg-d1, #col-lg-d2, #col-lg-d3  {
        float: left;
        width: 100%
    }
}











